Config
    { freeTexts = [ "description" ]
    , fieldRemovals = []
    , preferredDeps =
        [
            ( "base"
            , ">=4.17 && <5"
            )
        ]
    , addFields = []
    , fixCommas =
        [
            ( "extra-doc-files"
            , NoCommas
            , NoTrailer
            )
        ,
            ( "build-depends"
            , PostfixCommas
            , NoTrailer
            )
        ]
    , sortFieldLines =
        [ "build-depends"
        , "exposed-modules"
        , "default-extensions"
        , "ghc-options"
        , "extra-doc-files"
        , "tested-with"
        ]
    , doSortFields = True
    , fieldOrdering =
        [
            ( "cabal-version"
            , 0.0
            )
        ,
            ( "import"
            , 1.0
            )
        ,
            ( "main-is"
            , 2.0
            )
        ,
            ( "default-language"
            , 8.6
            )
        ,
            ( "name"
            , 4.0
            )
        ,
            ( "hs-source-dirs"
            , 8.4
            )
        ,
            ( "version"
            , 6.0
            )
        ,
            ( "build-depends"
            , 8.2
            )
        ,
            ( "exposed-modules"
            , 8.0
            )
        ,
            ( "license"
            , 9.0
            )
        ,
            ( "license-file"
            , 10.0
            )
        ,
            ( "other-modules"
            , 11.0
            )
        ,
            ( "copyright"
            , 12.0
            )
        ,
            ( "category"
            , 13.0
            )
        ,
            ( "author"
            , 14.0
            )
        ,
            ( "default-extensions"
            , 15.0
            )
        ,
            ( "ghc-options"
            , 16.0
            )
        ,
            ( "maintainer"
            , 17.0
            )
        ,
            ( "homepage"
            , 18.0
            )
        ,
            ( "bug-reports"
            , 19.0
            )
        ,
            ( "synopsis"
            , 20.0
            )
        ,
            ( "description"
            , 21.0
            )
        ,
            ( "build-type"
            , 22.0
            )
        ,
            ( "tested-with"
            , 23.0
            )
        ,
            ( "extra-doc-files"
            , 24.0
            )
        ,
            ( "source-repository"
            , 25.0
            )
        ,
            ( "type"
            , 26.0
            )
        ,
            ( "common"
            , 27.0
            )
        ,
            ( "location"
            , 28.0
            )
        ,
            ( "library"
            , 29.0
            )
        ,
            ( "executable"
            , 30.0
            )
        ,
            ( "test-suite"
            , 31.0
            )
        ]
    , doFixBuildDeps = True
    , depAlignment = DepAligned
    , removeBlankFields = True
    , valueAligned = ValueAligned
    , valueAlignGap = 1
    , sectionMargin = Margin
    , commentMargin = Margin
    , narrowN = 60
    , indentN = 4
    }
